{% extends 'base.html.twig' %}


{% block body %}

<img src= "https://blogdroiteuropeen.files.wordpress.com/2018/10/enseignement-numerique.jpg" class="card-img-top" alt="..." style="width:50em; height:40em;" >
    {% for message in app.flashes('succes') %}
        <div class="flash-notice alert laert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('atelier_new') }}" class="btn btn-primary"> Ajouter un un atelier </a>

    {% endif %} 

    <table class="table">
        <thead>
            <tr>
                <th>Atelier</th>
                <th>Catégorie</th>

                {% if is_granted('ROLE_ADMIN') %}

                <th>Modifier</th>
               

                {% endif %}
            </tr>
        </thead>

        <tbody>

        {% for atelier in ateliers %}
            <tr>
                <td><a href="{{ path('atelier_show', {'id':atelier.id}) }}">{{ atelier.nomAtelier }}</a></td>
                <td><a href="{{ path('atelier_show', {'id':atelier.programmer.id}) }}">{{ atelier.programmer.nomCategorie }}</a></td>
                
                {% if is_granted('ROLE_ADMIN') %}

                <td><a href="{{ path('atelier_edit', {'id':atelier.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></td>
                <td>{{ include('atelier/delete.html.twig') }}</td>

                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}