{% extends 'base.html.twig' %}


{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if message == ('warning') %}
                <div class="flash-{{ label }} alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
    {% if app.user %}

  
        <div class="checkbox mb-3"><h2>Vous êtes déjà connecté</h2>  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}

         <img src= "https://toowood.fr/303-large_default/tete-d-elan-murale-bois.jpg" alt="..." style="width:auto; height:40em; justy">
        
         <img src= "https://www.fashioncentral.pk/wp-content/uploads/2017/02/Designers/Logo.jpg" alt="..." style="width:auto; height:30em; ">
        
        
        <div class="jumbotron">
            <h1 class="display-3">CONNECTEZ-VOUS</h1>
            <p class="lead">Bienvenue! Si vous êtes membre de la TEAM ELAN, login pour avoir accès au tableau d'administration</p>
            <hr class="my-4">
            <p>Votre compte doit avoir été validé par l'administrateur du site</p>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ lastusername }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
        </div>
        
        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        
        <div>
            <a  href="{{ path('forgotten_password') }}">Mot de passe oublié</a>
        </div>

        
    {% endif %}
    
</form>
{% endblock %}
