{% extends 'base.html.twig' %}


{% block body %}

    {% for message in app.flashes('notif') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Formations index</h1>


                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                
                <td><a href="{{ path('formation_show', {'id': formation.id}) }}">{{ formation.nomFormation }}</a></td>
                
                <td>   
                    <a href="{{ path('formation_pdf', {'id': formation.id}) }}">PDF</a>
                </td>
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
                <td>
                    {{ include('formation/delete_form.html.twig') }}
                </td>
                
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('formation_new') }}">Create new</a>

    {% endif %}
    
{% endblock %}
