{% extends 'base.html.twig' %}


{% block body %}

<img src= " https://www.cse-guide.fr/medias/2018/04/vote-et-formation-20.jpg" class="card-img-top" alt="..." style="width:50em; height:40em ;" >
   
    {% for message in app.flashes('notif') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

     {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('formation_new') }}" class="btn btn-primary">Créer une nouvelle formation</a>

    {% endif %}


    <table class="table table-striped">
        <thead>
        <tr>

                <th>Intitulé</th>
                <th>Information</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th colspan='2'>Modifier</th>


                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                
                <td><a href="{{ path('formation_show', {'id': formation.id}) }}">{{ formation.nomFormation }}</a></td>
                
                <td>   
                    <a href="{{ path('formation_pdf', {'id': formation.id}) }}">R.E.A.C</a>
                </td>
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i>
                </td>
                <td>
                    {{ include('formation/delete_form.html.twig') }}
                </td>
                
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    
{% endblock %}
