{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Formation</th>
                <td>{{ formation.nomFormation }}</td>
            </tr>

            <tr>
                <th>Descriptif</th>
                <td>{{ formation.descriptif }}</td>
            </tr>
            <tr>
                <th>Ateliers</th>
                <td>
                {% for atelier in formation.duree %}
                    {{ atelier }}
                {% endfor %}
                </td>
                
            </tr>
        </tbody>
    </table>

     <a href="{{ path('duree_index', {'id': formation.id}) }}">ajouter atelier</a>

     <a href="{{ path('duree_index', {'id': formation.id}) }}">modifier atelier</a>

     

    <a href="{{ path('formation_index') }}">Retour liste formations</a>
{% endblock %}
