<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}
          {# bootstrap #}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
          
          <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />

          <link rel="stylesheet" href="{{ asset('assets/css/formation.css') }}"> 
   
      {% endblock %}
  </head>
  <body>
    
    
    <div class="card mb-3" >

  <h1 class="card-header">ELAN FORMATION</h1>
  <div class="card-body">   
    <h5 class="card-title">Pas seulement une formation, une famille!</h5>
    
  </div>
  <img style="height: 300px; width: auto; display: block;" src="https://www.docendi.com/blog/wp-content/uploads/2018/03/Fotolia_195285609_M.jpg" alt="Card image">
    

    
 

  <div class="jumbotron">
  <h1 class="display-4">Nos offres de formations</h1>
  <p class="lead">Apprenez un nouveau métier et développez vos compétences grâce à nos formations. Apprenez les métiers de demain et soyez maîtres de votre avenir;</p>
  <hr class="my-4">
  <p>Contactez_nous pour recevoir un catalogue de nos offres et un réponse individialisée</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Contactez-nous</a>
  <div id="contactForm" class="mt-4">
    {{form_start(form)}}
        <div class= "row">
            <div class="col">{{ form_row(form.firstname)}}</div>
            <div class="col">{{ form_row(form.lastname)}}</div>
        </div> 
        <div class= "row">
            <div class="col">{{ form_row(form.phone)}}</div>
            <div class="col">{{ form_row(form.phone)}}</div>
        </div> 
        {{form_rest(form)}}
        <div class="form-group">
        <button class"btn btn-prmimary">Envoyez</button>
        </div>


    {{form_end(form)}}
</div>
  
</div>
    
    <a href="/login" class="card-link">TEAM ELAN</a> 

        {% block body %}
        {% endblock %}


        {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        
        <script>

          $('select').selectpicker();

        </script>
        {% endblock %}
    </body>
</html>
