    <head>
    <style>
    #wrapper{
        padding-top: 25%;
    }

    h1{
        font-size: 1.8em;
    }

    h2{
        padding:0 0 15px 0;
        font-size: 2em;
    }

    h1 , h2, h3, p{
        text-align:center;
    }

    </style>
    </head>

    <body>
        <div id="wrapper">
            <h2>Certificat de reussite</h2>

            <p>Le présent document atteste que</p>
            <h1>{{ stagiaire.nom ~" "~ stagiaire.prenom }}</h1>

            <p> a terminé avec succès la formation 

            {% for session in stagiaire.sessions %}
                <h3> {{session.contenir.nomFormation}} <h3>
            {% endfor %}
            </p>

            <p>
            {% for session in stagiaire.sessions %}
                <small>Fini le : {{session.dateFin.format('d F Y')}}</small>
            {% endfor %}
            </p>
        </div>
    <body>



    {# <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{  }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stagiaire.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ stagiaire.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ stagiaire.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stagiaire.ville }}</td>
            </tr>
            <tr>
                <th>cp</th>
                <td>{{ stagiaire.cp }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ stagiaire.sexe }}</td>
            </tr>
            
        </tbody>
    </table> #}
