{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
    <h1>Stagiaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ stagiaire.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ stagiaire.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ stagiaire.dateNaissance.format('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stagiaire.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ stagiaire.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ stagiaire.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stagiaire.ville }}</td>
            </tr>
            <tr>
                <th>cp</th>
                <td>{{ stagiaire.cp }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                {% if stagiaire.sexe == 'M' %}
                
                <td>Homme</td>

                {% else %}

                <td>Femme</td>

                {% endif %}   
            </tr>
            <tr>
                <th>Sessions</th>
                <td>
            {% for session in stagiaire.sessions %}
                <a href="{{ path('session_show', {'id':session.id}) }}">{{ session.promotion }}</a>
            {% endfor %}
                </td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('stagiaire_index') }}">Retour liste Stagiaires</a>

    <a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}">modifier</a>

    
{% endblock %}
