{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
        
    
    <div class="jumbotron">
  <h1 class="display-4">{{ materiel.intitule }}</h1>
  <p class="lead">{{ materiel.descriptif }}</p>
  <hr class="my-4">
  <h3>quantité totale: {{ materiel.stock }} </h3>
  <h3>quantité utlisée: {{ render(controller('App\\Controller\\MaterielController::getUsed', {'id': materiel.id})) }} </h3>
    
  <a class="btn btn-primary btn-lg" href="{{ path('materiel_index') }}" role="button">Liste des matériels</a>
</div>

    

    {{ include('materiel/delete_form.html.twig') }}
{% endblock %}
