{% extends 'base.html.twig' %}

{% block body %}

    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Initulé</th>
                <td>
            {% for formation in session.contenir %}
                {{ formation.nomFormation ~"," }}
            {% endfor %}
            
                </td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ session.Promotion }}</td>
            </tr>
            <tr>
                <th>NbPlaces</th>
                <td>{{ session.NbPlace }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ session.dateDebut.format('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ session.dateFin.format('d/m/Y') }}</td>
            </tr>
            
            <tr>
                <th>Salle</th>
                <td>{{ session.salle.nomSalle }}</td>
            </tr>
            <tr>
                <th>Stagiaires</th>
                <td>
                
            {% for st in session.stagiaires %}
                {{ st }}
            {% endfor %}
                </td>
            </tr>
            
            
        </tbody>
    </table>
{% endblock %}
