{% extends 'base.html.twig' %}


{% block body %}

<img src= "https://www.cse-guide.fr/medias/2018/04/vote-et-salle-20.jpg " class="card-img-top" alt="..." style="width:auto; height:40em ;" >
   
    {% for message in app.flashes('notif') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

     {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('salle_new') }}" class="btn btn-primary">Créer une nouvelle salle</a>

    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>

                <th>Nom de la salle</th>
                <th>Nombre de places</th>


                {% if is_granted('ROLE_ADMIN') %}

                <th colspan = '2'></th>  


                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                
                <td><a href="{{ path('salle_show', {'id': salle.id}) }}">{{ salle.nomSalle }}</a></td>
                <td><a href="{{ path('salle_show', {'id': salle.id}) }}">{{ salle.nbPlaces }}</a></td>
                
                
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('salle_edit', {'id': salle.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i>
                </td>
                <td>
                    {{ include('salle/delete_form.html.twig') }}
                </td>
                
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {% endblock %}