{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
               
                <th>NomSalle</th>
                <th>Nbplaces</th>

                {% if is_granted('ROLE_ADMIN') %}

                <th>Modifier</th>
                <th>Supprimer</th>

                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                
                <td><a href="{{ path('salle_show', {'id': salle.id}) }}">{{ salle.nomSalle }}</a></td>

                <td><a href="{{ path('salle_show', {'id': salle.id}) }}">{{ salle.nbPlaces }}</a></td>



                
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('salle_edit', {'id': salle.id}) }}">Modifier</a>
                </td>
                <td>
                    {{ include('salle/delete_form.html.twig') }}
                </td>

        {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salle_new') }}">Create new</a>
{% endblock %}
