{% extends 'base.html.twig' %}


{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>NomSalle</th>
                <td>{{ salle.nomSalle }}</td>
            </tr>
            <tr>
                <th>Nbplaces</th>
                <td>{{ salle.nbplaces }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('salle_index') }}">back to list</a>

    <a href="{{ path('salle_edit', {'id': salle.id}) }}">edit</a>

    {{ include('salle/delete_form.html.twig') }}
{% endblock %}
