<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
        <title>
          {% block title %}
            {% if title is defined %}{{title}}{% else %}FoFormation{% endif %} 
          {% endblock %}
        </title>

      {% block stylesheets %}
        <link rel="icon" type="image/png" href="https://www.sviesolutions.com/wp-content/uploads/2014/08/ico_formation.png" />
        {# bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />

        {# <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"> #}
      {% endblock %}

  </head>
  <body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img style="height: 300px; width: auto; display: block;" src="http://www.organisme-de-formation.com/wp-content/uploads/2016/06/logo2.jpg" alt="Card image">

    {% if is_granted('ROLE_ADMIN') %}
    
      <a class="navbar-brand" href="#"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% endif %}

      

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item active">
            <a class="nav-link" href="#">Accueil</a>
          </li>

          {% if is_granted('ROLE_USER') %}

          

          <li class="nav-item">
            <a class="nav-link" href="{{ path('formation_index') }}">Formations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('session_index') }}">Sessions</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('stagiaire_index') }}">Stagiaires</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">Formateurs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('atelier_index') }}">Atelier</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('categorie_index') }}">Categorie</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('salle_index') }}">Ressources</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
        </form>
      </div>

      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_login')}}">Login <span class="sr-only">(current)</span></a>
      </li>
    </nav>
    

        {% block body %}
        {% endblock %}


        {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        
        <script>

          

          $(document).ready(function(){
              $(".alert").fadeOut(2500);
              $('select').selectpicker();
          });

        </script>
        {% endblock %}
    </body>
</html>
