{% extends 'base.html.twig' %}


{% block body %}

<img src= "https://www.docendi.com/blog/wp-content/uploads/2018/03/Fotolia_195285609_M.jpg " class="card-img-top" alt="..." style="width:48em; height:40em;" >
    {% for message in app.flashes('succes') %}
        <div class="flash-notice alert laert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('categorie_new') }}" class="btn btn-primary"> Ajouter un un categorie </a>

    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Catégorie</th>

                {% if is_granted('ROLE_ADMIN') %}

                <th>Modifier</th>
                <th>Supprimer</th>

                {% endif %}
            </tr>
        </thead>

        <tbody>

        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', {'id':categorie.id}) }}">{{ categorie.nomCategorie }}</a></td>

                {% if is_granted('ROLE_ADMIN') %}
                
                <td><a href="{{ path('categorie_edit', {'id':categorie.id}) }}" class="btn btn-warning"> Modifier</a></td>
                <td>{{ include('categorie/delete.html.twig') }}</td>
                
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Pas de résultat</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
