{% extends 'base.html.twig' %}


{% block body %}

<img src= "https://www.evoleo.fr/wp-content/uploads/2018/04/efficacite-professionnelle-evoleo-paris-haussmann-4.jpg" class="card-img-top" alt="..." style="width:58em; height:40em;" >

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('user_new') }}" class="btn btn-primary"> Ajouter un utilisateur </a>

    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom/Prénom</th>
                <th>Date d'entrée</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Poste occupé</th>
                <th>Modifier</th>
               
                {% endif %}
                
            </tr>
        </thead>

        <tbody>

        {% for user in users %}

            {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                <tr>
                <td><a href="{{ path('user_show', {'id':user.id}) }}">{{ user.nom ~" "~ user.prenom }}</a></td>
                <td>{{ user.dateEntree.format( 'd/m/Y') }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>            
                    {% for role in user.roles %}
                        {{ role ~"," }}
                    {% endfor %}
                </td>
                    <td><a href="{{ path('user_edit', {'id':user.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a></td>
                    <td>{{ include('user/delete.html.twig') }}</td>

                {% endif %}
            </tr>
            {% endif %}

        {% else %}
        <tr>
            <td colspan="6">Pas de résultat</td>
        </tr>
                     
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
