{% extends 'base.html.twig' %}

{% block body %}

    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.cp }}</td>
            </tr>
            <tr>
                <th>Specialisation</th>
                <td>
            {% for categorie in user.enseigner %}
                {{ categorie.nomCategorie ~"," }}
            {% endfor %}
                </td>
            </tr>
            
        </tbody>
    </table>

    {% if app.user.email == user.email  %}
    
        <a href="{{ path('user_pass', {'id':user.id} ) }}"> Modifier mon mot de passe</a>
    
    {% endif %}

{% endblock %}
